
{% load staticfiles %}

{% include 'diss/base.html' %}
	 <link rel="stylesheet" href="{% static 'css/login.css' %}">

{% block body_block %}

<section id="login" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2> Join Us!</h2>
							</div>
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'diss:index' %}">Return to the homepage.</a><br />
{% else %}
<strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'diss:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}